.hero-section h1 {
  padding-top: 3.7em;

  justify-content: center;
  font-size: 2.5em;
  /* margin: auto; */
  text-align: center;
}

.hero-section .hero-btn a {
  font-size: 1em;
}

.hero-section {
  background: url(./img/hero-image.png) no-repeat center center/cover;
  height: 60vh;
  overflow: hidden;
  /* margin-top: 1px; */
}

#img {
  background: url(./img/nathan-dumlao-6VhPY27jdps-unsplash.jpg) no-repeat center
    center/cover;
  height: 30vh;
}

.img-menu {
  background: url(./img/alexandra-gornago-XaoeWaM8TSs-unsplash.jpg) no-repeat
    center center/cover;
  height: 30vh;
}
