@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rye&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rye&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap");

:root {
  --primary-color: #e9d6d6;
  --complementary-color: #333333;
  --brand-color: #a62a2a;
}

/* .navbar #mainNav {
    background: var(--brand-color);
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #e9d6d6;
}

/* .navbar {
    background: rgb(240, 238, 238) !important;
} */

/* Hero_Section */
.hero-section {
  background: url(./img/hero-image.png) no-repeat center center/cover;
  height: 80vh;
  overflow: hidden;
  /* margin-top: 1px; */
}

.hero-section h1 {
  color: white;
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 4.5em;
  /* margin: auto; */
  /* text-align: center; */
}

.hero-section .hero-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5em;
  /* text-align: center; */
}

.hero-section .hero-btn a {
  color: white;
  /* padding: 10px 30px; */
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  font-size: 1.3em;
  margin: 0.5em;
  /* text-align: center; */
  background-color: rgb(189, 58, 58);
}

.hero-section .hero-btn a:hover {
  color: #a62a2a;
  background-color: white;
}

.container-fluid span {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 600;
  font-style: normal;
}

p,
a,
li {
  font-family: "Ysabeau Office", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#img {
  background: url(./img/nathan-dumlao-6VhPY27jdps-unsplash.jpg) no-repeat center
    center/cover;
  height: 70vh;
}
.img-menu {
  background: url(./img/alexandra-gornago-XaoeWaM8TSs-unsplash.jpg) no-repeat
    center center/cover;
  height: 60vh;
}

.my-map iframe {
  width: 100%;
  /* border:1px solid black;  */
  height: 40vh;
}

/* footer .container > p {
     bottom:0;
     background-color: blueviolet;
    width: 100%;
    color: white;
    text-align: center;
    padding: 16px;
} */

.socialMedia i {
  display: inline-block;
  padding: 0 1.8em;
}

.nav-item .nav-link {
  color: rgb(166, 42, 42);
  padding: 0.5em;
  font-size: 1.2em;
  /* background-color: rgb(166, 42, 42); */
}
.nav-item .nav-link:hover {
  color: black;
  cursor: pointer;
}

/* #carousel-hero {
    height: 300px;
} */
/* .carousel-hero {
  height: 300px;
} */
/* #img-contact {
  background: url(./img/background\ image\ pexels-roman-odintsov-4552171.jpg)
    no-repeat cover cover/center;
} */

.col p a {
  color: white;
  font-size: 1.2em;
  background-color: #a62a2a;
}

.col p a:hover {
  color: #a62a2a;
  font-size: 1.2em;
  background-color: white;
}

.col .btn {
  color: white;
  font-size: 1.2em;
  background-color: #a62a2a;
  padding: 5px 10px;
}

.col .btn:hover {
  color: #a62a2a;
  font-size: 1.2em;
  background-color: white;
}

form .btn {
  color: #a62a2a;
  background-color: white;
  font-size: 1.4em;
  font-weight: 600;
}

form .btn:hover {
  color: white;
  background-color: #a62a2a;
  font-size: 1.4em;
  font-weight: 600;
}
